<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<h2>Navigation  </h2>
<table class="table"><tr>
<td><h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Home</a></h2></td>
<td> <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki"> About</a></h2>
</td>  
<td> <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Products</a></h2>
</td>
</tr></table>
 
   
 
   
   

<app-test-interface></app-test-interface>
<!-- Product Data  -->
<!-- <app-product></app-product> -->
